
@{
    ViewData["Title"] = "Per Day";
}
@model DayCreditInformationModel

<style>
    .input-validation-error {
        border-color: red;
    }
</style>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}

<body class="card-body">
    <form asp-controller="Home" asp-action="Count" method="post">
        <div class="form-group">
            <label for="Sum">Сумма займа</label>
            <input type="text" asp-for="Sum" class="form-control" placeholder="В рублях" />
            <span asp-validation-for="Sum" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label for="Time">Срок займа</label>
            <input type="text" asp-for="Time" class="form-control" placeholder="В днях" />
            <span asp-validation-for="Time" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label for="Rate">Ставка займа</label>
            <input type="text" asp-for="Rate" class="form-control" placeholder="В день" />
            <span asp-validation-for="Rate" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label for="Step">Шаг Платежа</label>
            <input type="text" asp-for="Step" class="form-control" placeholder="Промежуток платежей " />
            <span asp-validation-for="Step" class="text-danger"></span>
        </div>
        <div class="col-md-3">
            <button type="submit" class="btn btn-primary" asp-controller="Home" asp-action="IndexPerDay" style="margin-top:20px">Рассчитать</button>
        </div>
    </form>
</body>
